export CONJUR_HOME=/home/demo/conjur-ubuntu-install
if [[ "$CONJUR_HOME" == "" ]]; then
  echo "Set CONJUR_HOME to direcroty containing conjur.config file."
  exit -1
fi

export NO_DNS=false		# set to false if DNS service configured
export DOCKER="sudo docker"

# Configuration settings for Conjur demo environment
export CONJUR_VERSION=5
export CONJUR_APPLIANCE_VERSION=12.2.0
export CONJUR_APPLIANCE_IMAGE=registry.tld/conjur-appliance:$CONJUR_APPLIANCE_VERSION
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd)

# Conjur Leader config settings
export CONJUR_LEADER_HOSTNAME=cybrselfserver
export CONJUR_LEADER_HOST_IP=$(ifconfig ens33 | grep broadcast | awk '{print $2}')
export CONJUR_LEADER_CONTAINER_NAME=conjur-leader
export CONJUR_LEADER_PORT=443
export CONJUR_LEADER_PGSYNC_PORT=5432
export CONJUR_LEADER_PGAUDIT_PORT=1999
export CONJUR_APPLIANCE_URL=https://$CONJUR_LEADER_HOSTNAME:$CONJUR_LEADER_PORT

# Conjur CLI container config settings
export CLI_IMAGE_NAME=cyberark/conjur-cli:5-6.2.4
export CLI_CONTAINER_NAME=conjur-cli

# Conjur Follower config settings
export CONJUR_FOLLOWER_HOSTNAME=$CONJUR_LEADER_HOSTNAME
export CONJUR_FOLLOWER_HOST_IP=$CONJUR_LEADER_HOST_IP
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CONJUR_FOLLOWER_PORT=444
export CONJUR_FOLLOWER_URL=https://$CONJUR_FOLLOWER_HOSTNAME:$CONJUR_FOLLOWER_PORT

# Location to cache leader cert and seed file for Follower configuration
export CACHE_DIR=$CONJUR_HOME/conjur-etc
export CONJUR_CERT_FILE=$CACHE_DIR/conjur-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar

###########################################################
# Cert altnames for Conjur node-to-node TLS authentication
# Alt names must be separated by a spaces, not commas

# Alt-names for conjur leader cert 
export LEADER_ALTNAMES="$CONJUR_LEADER_HOSTNAME"

# Alt-names for conjur follower cert
export FOLLOWER_ALTNAMES="$CONJUR_FOLLOWER_HOSTNAME"
###########################################################
